// General
.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.intro,
.skills,
.about,
.education,
.experience,
.portfolio,
.contact{
  min-height: 100vh;
}

.skills,
.about,
.education,
.experience,
.portfolio,
.contact{
  background: gray;
  border-top: 1px solid white;
}
