// Fonts
@import url("https://use.typekit.net/bcn8cnl.css");
@font-family: montserrat, sans-serif;
@font-weight: 400;
@font-style: normal;
@font-size: 1.6rem;

// Headings
@heading-font-weight: 600;
@h1-font-size: 4.8rem;
@h2-font-size: 3.6rem;
@h3-font-size: 2.4rem;
@h4-font-size: 1.6rem;
@h5-font-size: 1.2rem;
@h6-font-size: 1rem;

// Breakpoints
@breakpoint-mobile: 600px;
@breakpoint-tablet: 900px;
@breakpoint-desktop: 1200px;

// Colors

@color-white: #FFFFFF;
@color-gray-1: #EFF2F9;
@color-gray-2: #D7DDE9;
@color-gray-3: #CBD3E1;
@color-gray-4: #BFC8D9;
@color-gray-5: #A8B3C9;
@color-gray-6: #909AB2;
@color-gray-7: #78819B;
@color-gray-8: #686F89;
@color-gray-9: #585D77;
@color-gray-10: #4C5166;
@color-gray-11: #404455;
@color-gray-12: #343844;
